body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  background: #f4f4f4;
  color: #333;
}

/* HEADER */
header {
  background: #824104;
  color: white;
  text-align: center;
  padding: 20px;
}

nav a {
  margin: 10px;
  color: white;
  text-decoration: none;
}

/* SEÇÕES */
section {
  padding: 20px;
}

/* PROJETOS EM CARDS */
.cards {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.card {
  background: orange;
  padding: 15px;
  border-radius: 10px;
  width: 200px;
  transition: 0.3s;
}

.card:hover {
  transform: scale(1.05);
}

/* FORMULÁRIO */
form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input, textarea {
  padding: 10px;
}

/* DARK MODE */
.dark {
  background: #121212;
  color: white;
}

.dark header {
  background: #333;
}

.dark .card {
  background: #1e1e1e;
}
img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;

}
  









